[duo]
; Integration key
ikey = {{ item.ikey }}
; Secret key
skey = {{ item.skey }}
; API hostname
host = {{ item.host }}
; Group whitelist to enforce Duo authentication on
groups = {{ item.groups|default('') }}
; Fail safe (open) or secure (closed)
failmode = {{ item.failmode|default('safe') }}
; Send command to be executed 
pushinfo = {{ item.pushinfo|default('no') }}
; Specify HTTP proxy 
http_proxy = {{ item.http_proxy|default('') }}
; Automatically push to users phone, skipping prompt
autopush = {{ item.autopush|default('no') }}
; Number of tries allowed
prompts = {{ item.prompts|default('3') }}
; Send the IP address of the server it is running on if no remote IP is passed to PAM
fallback_local_ip = {{ item.fallback_local_ip|default('no') }}
; Seconds to wait for HTTPS responses from Duo
https_timeout = {{ item.fallback_local_ip|default('0') }}