{% macro render_option(key,value) %}
{%   if value is defined %}
{%     if value is sameas true %}
{{ key }} = yes
{%     elif value is sameas false %}
{{ key }} = no
{%     elif value is string or value is number %}
{{ key }} = {{ value }}
{%   else %}
; {{ key }} = 
{%   endif %}
{% endmacro %}
[duo]
; Integration key
{{ render_option("ikey", item.ikey) }}
; Secret key
{{ render_option("skey", item.skey) }}
; API hostname
{{ render_option("host", item.host) }}
; Group whitelist on which to enforce Duo authentication
{{ render_option("groups", item.groups }}
; Fail safe (open) or secure (closed)
{{ render_option("failmode", item.failmode|default('safe')) }}
; Send command to be executed
{{ render_option("pushinfo", item.pushinfo|default('no')) }}
; Specify HTTP proxy
{{ render_option("http_proxy", item.http_proxy }}
; Automatically push to users phone, skipping prompt
{{ render_option("autopush", item.autopush|default('no') }}
; Number of tries allowed
{{ render_option("prompts", item.prompts|default('no') }}
; Send the IP address of the server it is running on if no remote IP is passed to PAM
{{ render_option("fallback_local_ip", item.fallback_local_ip|default('no') }}
; Seconds to wait for HTTPS responses from Duo
{{ render_option("https_timeout", item.https_timeout|default(0) }}